{% extends 'website/base_site_1.html' %} {% load crispy_forms_tags %} {% block title %} Deleting "id: {{ object.id }} Car" {% endblock title %} {% block left_main %}
<form method="post"> {% csrf_token %}
    <div class='header'>
        <p style="font-size: 30px">Are you sure you want to delete "id: {{ object.id }} Car"?</p>
    </div>
    <hr />
    <h1>id: {{ object.id }} Car</h1>
    <p><strong>Brand:</strong> {{ object.brand }}</p>
    <p><strong>Model:</strong> {{ object.model }}</p>
    <p><strong>Body type:</strong> {{ object.body_type }}</p>
    <p><strong>Year of issue:</strong> {{ object.year_of_issue }}</p>
    <p><strong>Color:</strong> {{ object.color }}</p>
    <p><strong>Engine volume:</strong> {{ object.engine_volume }}</p>
    <p><strong>Power:</strong> {{ object.power }}</p>
    <p><strong>Fuel type:</strong> {{ object.fuel_type }}</p>
    <p><strong>Transmission type:</strong> {{ object.transmission_type }}</p>
    <p><strong>Car drive type:</strong> {{ object.car_drive_type }}</p>
    <p><strong>License plate:</strong> {{ object.license_plate }}</p>
    <p><strong>Number of seats:</strong> {{ object.number_of_seats }}</p>
    <p><strong>Car description:</strong> {{ object.description }}</p>
    <p><strong>Car published by:</strong> {{ object.published_by }}</p>
    <p><strong>Car publishing date:</strong> {{ object.publishing_date }}</p>
    <p><strong>Car status:</strong> {{ object.car_status }}</p>
    <p><strong>Car rental price:</strong> {{ object.price }}</p>
    <input type="submit" value="Delete">
</form>{% endblock left_main %} {% block right_main %}
<div class="left_nav">
    <a class="active" href="/attach/car/list/">Go back</a>
</div>{% endblock right_main %}